// Global styling variables

// font stuff
$small_fs: 12px;
$normal_fs: 16px;
$medium_fs: 24px;
$large_fs: 50px;

$header1: 40px;
$header2: 36px;

$header_small: 20px;

$header1_mobile: 36px;
$header2_mobile: 28px;

// colors
$background: #fff;
$white: #fcfcfc;
$grey: #eaeaea;
$grey2: #f8f8f8;

$green: #2ecc71;
$dark_green: #45641d;
$light_blue: #3498db;
$mid_blue: #2c3e50;

$primary_color: $green;

// content
$content_max_width: 1300px;

$border_radius: 9px;
