// Global styling variables

// font stuff
$small_fs: 14px;
$normal_fs: 16px;
$medium_fs: 24px;
$large_fs: 50px;

$header1: 40px;
$header2: 36px;

$header_small: 20px;

$header1_mobile: 36px;
$header2_mobile: 24px;

// colors
$background: #fff;
$white: #fcfcfc;
// $grey: #E4E4E4;
$grey: #f5f5f5;
$grey2: #63676B;

$green: #2ecc71;
$dark_green: #45641d;
$light_blue: #B6E1F9;
$mid_blue: #2c3e50;

$primary_color: $green;

// content
$content_max_width: 1300px;

$border_radius: 9px;
