// Global styling variables

// font stuff
$normal_fs: 16px;
$medium_fs: 20px;
$large_fs: 50px;
$sub_header: 36px;
$header: 40px;

// colors
$background: #fff;

$green: #2ecc71;
$dark_green: #45641d;
$light_blue: #3498db;
$mid_blue: #2c3e50;

$primary_color: $green;

// content
$content_max_width: 1300px;
