@import "_vars.scss";

.about {
  position: relative;
  align-self: center;
  background: $white;

  .fade-enter-active{
    transition: opacity 1s;
  }
  .fade-enter /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .block_intro {
    position: relative;
    height: 300px;
    width: 100%;
    background: $green;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 100px;
    
      .block_text {
        width: 430px;
        text-align: center;

        h3 {
          color: $white;
        }
      }
    }
  }
  .block_history {
    position: relative;
    height: 350px;
    width: 100%;
    background: $white;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      
      .block_text {
        background: rgb(235, 234, 234);
        box-shadow: -5px 3px 40px 2px rgba(143,137,143,0.74);
        border-style: solid rgba(0, 0, 0, 0.0);
        border-width: 1px;
        margin-top: -40px;
        width: 550px;
        // height: 590px;
        height: fit-content;
        padding: 50px 60px 0px 60px;
        z-index: 5;
        
        .title {
          display: flex;
          flex-direction: row;
          align-items: center;

          h2 {
            font-size: $medium_fs;
          
          }
        }
      }
      .block_text_mobile {
        display: none;
      }
      .img_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        span {
          img {
            width: 30px;
          }
        }
        h2 {
          margin-top: 200px;
          font-size: $medium_fs;
        
        }
        img {
          margin-top: -180px;
          width: 500px;
          height: 450px;
        }
      }
    }
  }

  .block_fighters {
    height: 800px;
    width: 100%;
    background: $grey;

    .content {
      .fighters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 300px;

        .img_block {
          background: $white;
          box-shadow: -5px 3px 40px 2px rgba(143,137,143,0.74);
          border-style: solid rgba(0, 0, 0, 0.0);
          border-width: 1px;
          border-radius: 5px;
          width: 250px;
          height: 400px;
          margin-top: 10px;
          text-align: center;
          img {
            width: 125px;
            padding: 25px;
          }
        }
      }
      .fighters_mobile {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: $content_max_width) {
  $grid_width: 90%;
  .content {
    width: $grid_width !important;
  }

}
@media only screen and (max-width: 900px) {
  .block_history {
    height: 100% !important;
    .content {
      flex-direction: column !important;
      align-items: center;
      .block_text {
        display: none;
      }
      .block_text_mobile {
        display: flex !important;
        flex-direction: column;
        order: 1;
        border-radius: 15px;
        background: rgb(235, 234, 234);
        box-shadow: -5px 3px 40px 2px rgba(143,137,143,0.74);
        border-style: solid rgba(0, 0, 0, 0.0);
        border-width: 1px;
        width: 400px;
        z-index: 5;
        position: relative;

        .text {
          padding: 5px 15px 5px 15px !important;
        }
        .title {
          align-items: center;
          justify-content: space-between;
          padding: 15px 0px 15px 10px !important;
          img {
            margin-right: 5px;
            width: 30px;
          }
          h2 {
            font-size: $medium_fs;
          }
        }
      }
      .img_title {
        h2 {
          display: none;
        }
      }
    }
  }
  .block_fighters {
    height: 100% !important;
    background: $white !important;
    padding-bottom: 100px;
    // position: relative;

    .content {
      .fighters {
        display: none !important;
      }
      .fighters_mobile {
        display: flex !important;
        flex-direction: column;
        position: relative;
        border-radius: 15px;
        background: rgb(235, 234, 234);
        box-shadow: -5px 3px 40px 2px rgba(143,137,143,0.74);
        border-style: solid rgba(0, 0, 0, 0.0);
        border-width: 1px;
        margin: 0 auto;
        width: 400px;
        top: 20px;

        .title {
          align-items: center;
          justify-content: space-between;
          padding: 15px 0px 15px 10px !important;
          img {
            margin-right: 5px;
            width: 30px;
          }
          h2 {
            font-size: $medium_fs;
          }
        }
        .img_collage {
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .img_block  {
            text-align: center;
            width: 100%;
            // border-bottom: solid;
            // border-bottom-color: $grey;
            padding-top: 10px;
            img {
              width: 200px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .block_history {
    .content {
      .block_text_mobile {
        width: 260px;

        .title {
          h2 {
            font-size: $small_fs;
          }
        }
      }
      .img_title {
        img {
          height: 320px !important;
          width: 330px !important;
        }
      }
    }
  }
  .block_fighters {
    .content {
      .fighters_mobile {
        width: 260px;
        .title {
          h2 {
            font-size: $small_fs;
          }
        }
      }
    }
  }
}