// App.scss

@import "_vars.scss";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: $background;
  position: relative;
}

body {
  position: relative;
}

h1 {
  font-family: "Avenir",
    Helvetica,
    Arial,
    sans-serif;
  margin: 0;
  font-size: $header1;
  font-weight: bold;
  // color: $mid_blue;
  color: #000;
}

h2 {
  font-family: "Avenir",
    Helvetica,
    Arial,
    sans-serif;
  margin: 0;
  font-size: $header2;
  // color: $mid_blue;
  color: #000;
}

h3 {
  font-family: "Avenir",
    Helvetica,
    Arial,
    sans-serif;

  margin: 0;
  font-size: 1.3rem;
  // color: $mid_blue;
  color: #000;
}

p {
  font-family: "Avenir",
    Helvetica,
    Arial,
    sans-serif;
  font-size: $normal_fs;
  // color: $mid_blue;
  font-weight: 500;
  color: #000;
}

a {
  font-family: "Avenir",
    Helvetica,
    Arial,
    sans-serif;
  text-decoration: none;
  font-weight: bold;
  // color: $mid_blue;
  color: #000;
}

// general content/ layout stylin
.content {
  max-width: $content_max_width;
  height: 100%;
  margin: 0 auto;
}

.group {
  display: flex;
  flex-direction: row;
}

.group-item {
  display: flex;
  flex-direction: row;
}

.group-item_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

//general button styling

.button {
  width: 233px;
  height: 40px;
  // color: #fff;
  // color: $mid_blue;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  // vertical-align: top;
  vertical-align: middle;
  white-space: nowrap;

  border-radius: $border_radius;
  border-style: solid;
  border-width: 1px;

  box-sizing: border-box;
  //   -webkit-font-smoothing: antialiased;
}

.input {
  width: 233px;
  height: 44px;
  background: #eee;
  padding: 0 10px;

  outline: 0;
  vertical-align: middle;
  white-space: nowrap;
  box-sizing: border-box;
  box-shadow: 0 10px 6px -6px #ccc;
  border: 0;
  border-radius: $border_radius;

  font-size: 14px;
  display: inline-block;
  margin: 6px auto;
}


.green {
  background: $green;
  border-color: $green;
  color: #fff;
}

.green:hover {
  background: #20BC7D;
  border-color: #20BC7D;
}

.white {
  background: #fff;
  border-color: #eee;
  // color: $mid_blue;
  color: #000;
}

.white:hover {
  background: $grey;
  border-color: $grey;
}

.orange {
  background: #ffaf40;
  border-color: #ffaf40;
  color: #fff;
}

.orange:hover {
  background: #ff9f1a;
  border-color: #ff9f1a;
}

.light_blue {
  background: $light_blue;
  border-color: $light_blue;
  color: #fff;
}

.light_blue:hover {
  background: #74b9ff;
  border-color: #74b9ff;
}

// end button styling


//icon styling
.fab,
.fas {
  font-size: 24px;
}

.big_icon {
  font-size: 50px;
}


.language_selectors {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

*:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.hidden {
  display: none;
}

// grid mediaqueries
@media only screen and (max-width: $content_max_width) {
  $grid_width: 90%;

  .content {
    width: $grid_width !important;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: $header1_mobile !important;
  }

  h2 {
    font-size: $header2_mobile !important;
  }
}
