// App.scss

@import "_vars.scss";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: $background;
  position: relative;
}

h1 {
  margin: 0;
  font-size: $header1;
  color: $mid_blue;
}

h2 {
  margin: 0;
  font-size: $header2;
  color: $mid_blue;
}

h3 {
  margin: 0;
  color: $mid_blue;
}

p {
  font-size: $normal_fs;
  color: $mid_blue;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $mid_blue;
}

// general content styling
.content {
  max-width: $content_max_width;
  height: 100%;
  margin: 0 auto;
}

//general button styling

.button {
  width: 233px;
  height: 50px;
  // color: #fff;
  color: $mid_blue;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  vertical-align: top;
  white-space: nowrap;

  border-radius: $border_radius;
  border-style: solid;
  border-width: 1px;

  box-sizing: border-box;
  //   -webkit-font-smoothing: antialiased;
}


.green {
  background: $green;
  border-color: $green;
  color: #fff;
}

.green:hover {
  background: rgba(0, 184, 148, 1.0);
  border-color: rgba(0, 184, 148, 1.0);
}

.white {
  background: $grey2;
  border-color: $grey2;
  color: $mid_blue;
}

.white:hover {
  background: $grey;
  border-color: $grey;
}

.orange {
  background: #ffaf40;
  border-color: #ffaf40;
  color: #fff;
}

.orange:hover {
  background: #ff9f1a;
  border-color: #ff9f1a;
}


.language_selectors {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

*:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.hidden {
  display: none;
}
