// App.scss

@import "_vars.scss";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: $background;
  position: relative;
}

h1 {
  margin: 0;
  font-size: $header1;
  color: $mid_blue;
}

h2 {
  margin: 0;
  font-size: $header2;
  color: $mid_blue;
}

h3 {
  margin: 0;
  color: $mid_blue;
}

p {
  font-size: $normal_fs;
  color: $mid_blue;
}

// general content styling
.content {
  max-width: $content_max_width;
  height: 100%;
  margin: 0 auto;
}

//general button styling
.button {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 233px;
  display: inline-block;
  font-size: 14px;
  outline: 0;
  height: 50px;
  vertical-align: top;
  white-space: nowrap;

  border-radius: $border_radius;
  border-style: solid;
  border-width: 1px;

  box-sizing: border-box;
  //   -webkit-font-smoothing: antialiased;
}

.button:hover {
  background: #fff;
}

.white {
  background: #eee;
  border-color: #eee;
  color: $mid_blue;
}

.language_selectors {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

*:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}
