@import "_vars.scss";

.dashboard {
  .navigation {
    img {
      margin: 0;
    }

    #hiddenLogo {
      display: block !important;
    }

    #logo1 {
      display: none !important;
    }

    .navbar {
      max-height: 100%;
    }
  }

  .footer {
    .content {
      padding-top: 0;
    }
  }

  h1 {
    margin: 1rem;
    color: black;
    font-weight: 800;
    text-align: center;
    font-size: 40px;
  }

  h2 {
    color: $green;
    text-align: center;
    font-size: 20px;
  }

  h3 {
    color: black;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
  }

  .link {
    margin: 5px;
    text-align: center;
    margin-top: 15px;
  }

  .group {
    flex-wrap: wrap;
  }

  .box {
    height: 50px;
    width: 250px;
    background-color: white;
    box-shadow: 2px 2px 20px grey;
    border-radius: 5px;
    border-style: solid;
    border-color: $green;
    border-width: 1px;
    margin: 20px auto 0;
  }

  .title-box {
    margin-top: 20px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .box-co2 {
    justify-content: center;
    align-content: center;
    min-height: 20px;
    width: 500px;
    background-color: white;
    box-shadow: 2px 2px 20px grey;
    border-radius: 5px;
    border-style: solid;
    border-color: $green;
    border-width: 1px;
    margin: 20px auto 0;
    flex-wrap: wrap;

    .img_container {
      width: 100%;
      height: 180px;
      // background: #000;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    img {
      // width: 100%;
      // height: 50px;
    }
  }

  .pick {
    justify-content: center;
    align-content: center;
    min-height: 20px;
    margin-bottom: 50px !important;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 20px grey;
    border-radius: 5px;
    border-style: solid;
    border-color: $green;
    border-width: 1px;
    margin: 20px auto 0;
    flex-wrap: wrap;

    .img_container {
      width: 100%;
      height: 180px;
      // background: #000;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    img {
      // width: 100%;
      // height: 50px;
    }

  }

  .box-stars {
    justify-content: center;
    align-content: center;
    min-height: 20px;
    width: 500px;
    background-color: white;
    box-shadow: 2px 2px 20px grey;
    border-radius: 5px;
    border-style: solid;
    border-color: $green;
    border-width: 1px;
    margin: 20px auto 0;
    flex-wrap: wrap;

    .img_container {
      width: 100%;
      height: 80px;
      // background: #000;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    img {
      // width: 100%;
      // height: 50px;
    }

  }

  .social {
    text-align: center;
    margin-top: 10px;
  }

  .chimneys-text {
    // margin-left: 220px;
    // margin-top: -80px;
    margin: 20px;
    text-align: center;
  }

  .chim {
    margin-top: 50px;
  }

  .fa-copy {
    color: $green;
    text-align: center;
    margin-left: 10px;
  }

  .fa-facebook-square {
    color: $green;
  }

  .fa-twitter-square {
    color: $green;
  }

  .content {
    padding-top: 100px;
    // margin-bottom: 50px;
  }

  .img_container_ninja {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .block {
    margin: 10px;
    width: 150px;
    height: 150px;
    flex-wrap: wrap;
    display: flex;

    img {
      filter: grayscale(1);
      transition: all 1s ease;
    }
  }

  .block:hover img {
    filter: grayscale(0) !important;
    transform: scale(1);
    transition: all 0.2s ease;
  }

  @media only screen and (max-width: 650px) {
    .img_container_ninja {
      flex-direction: column;

      img {
        margin: 20px auto;
      }
    }
  }
}
