// Faq.scss

@import "_vars.scss";


.faq {

  h2 {
    text-align: center;
    margin-top: 1em;
  }

  .jumbotron {
    height: 200px;
    background: $green;
    width: 100%;
  }

  .faqbox {
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px;
    // background: $grey2;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: $content_max_width;
      // width: 80%;
    }

    .qa_block {
      margin: 18px 0;
      width: 100%;
      text-align: left;
      display: block;
      color: $mid_blue;
    }

    .q {
      border-bottom: 1px solid black;
      cursor: pointer;
      font-weight: bold;
      padding: 10px;
      color: $mid_blue;
    }

    .a {
      padding: 10px;
      color: $mid_blue;
      // display: none;
    }

    // animations
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.5s;
    }

    .fade-enter,
    .fade-leave-to

    /* .fade-leave-active below version 2.1.8 */
      {
      opacity: 0;
    }
  }

  @media only screen and (max-width: $content_max_width) {

    .faqbox {
      width: 100% !important;

      .content {
        width: 90% !important;
      }
    }
  }
}
