@import "_vars.scss";

.footer {
  background: #fff;
  border-top: 3px solid #eee;

  .content {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
  }

  p {
    color: $mid_blue;
    margin: 0;
    font-size: 15px;
  }

  .section2 {
    display: flex;
    margin: 1em;
    flex-direction: column;
  }

  .section3 {
    display: flex;
    margin: 1em;
    flex-direction: row;
  }
}
