@import "_vars.scss";

.footer {
  position: relative;
  background: $grey2;
  width: 100%;
  z-index: 1;

  .line_container {
    position: absolute;
    width: 100%;
    height: 20px;
    z-index: -1;
  }

  .line {
    object-fit: fill;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -30px;
  }

  .fab,
  fas,
  i {
    color: #fff;
    text-align: center;
  }

  .content {
    height: 100%;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;

    p {
      color: #fff;
      margin: 8px 0;
      font-size: 18px;
      vertical-align: middle;
      text-align: center;
    }
  }

  .section1 {
    display: flex;
    // flex-wrap: wrap;
    margin: 1em 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    .group {
      flex-wrap: wrap;
      margin: 1em;
    }

    .group-item {
      flex-wrap: wrap;
    }

    i {
      margin: 0 10px 0 10px;
      vertical-align: middle;
    }

    p {
      vertical-align: middle;
    }
  }

  .section2 {
    display: flex;
    margin: 1em 0;
    padding: 0 10px;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .group {
      flex-wrap: wrap;
    }

    .group-item {
      flex-wrap: wrap;
    }

    i {
      vertical-align: middle;
      margin: 0 10px;
    }
  }

  .bottom {
    padding: 0.5em;
    text-align: center;
    background: $mid_blue;

    p {
      margin: 0.5em;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
    }
  }

  @media only screen and (max-width: 650px) {

    .section1 {
      flex-wrap: wrap;
      margin: 0;

      .group {
        width: 100%;
        justify-content: center;
      }
    }

    .content {
      flex-wrap: wrap;
    }
  }

}
