@import "_vars.scss";

.footer {
  background: $grey2;
  border-top: 3px solid $grey;

  .fab,
  fas,
  i {
    color: #fff;
    text-align: center;
  }

  .content {
    height: 100%;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;

    p {
      color: #fff;
      margin: 8px 0;
      font-size: 16px;
      vertical-align: middle;
      text-align: center;
    }
  }

  .section1 {
    display: flex;
    // flex-wrap: wrap;
    margin: 1em 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    .group {
      flex-wrap: wrap;
      margin: 1em;
    }

    .group-item {
      flex-wrap: wrap;
    }

    i {
      margin: 0 10px 0 10px;
      vertical-align: middle;
    }

    p {
      vertical-align: middle;
    }
  }

  .section2 {
    display: flex;
    margin: 1em 0;
    padding: 0 10px;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .group {
      flex-wrap: wrap;
    }

    .group-item {
      flex-wrap: wrap;
    }

    i {
      vertical-align: middle;
      margin: 0 10px;
    }
  }

  .bottom {
    padding: 0.5em;
    text-align: center;
    background: $mid_blue;

    p {
      margin: 0.5em;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
    }
  }

  @media only screen and (max-width: 650px) {
    .content {
      flex-wrap: wrap;
    }
  }

}
