@import "_vars.scss";

.home {
  position: relative;

  // voor parralax 

  // .start {
  //   height: 100vh;
  //   width: 100%;
  // }

  // .begin {
  //   background-image: url('./../assets/windmolen.png');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   top: 0;
  //   position: fixed;
  //   width: 100%;
  //   height: 100vh;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  // }

  .jumbotron {
    position: relative;
    // background-image: url('./../assets/windmolen.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    height: 700px;
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .head_group {
      justify-content: space-between;
      // height: 100%;
      width: 100%;

      .text_block {
        // background: #fff;
        // border-radius: $border_radius;
        padding: 1em;

        // margin: 1em;
        max-width: 388px;
      }

      .text_block:nth-child(2) {
        h2 {
          color: #fff;
        }
      }
    }

    img {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -150px;
      z-index: 0;
      max-width: 550px;
      width: 42%;
    }

    .background_left {
      position: absolute;
      height: 100%;
      position: absolute;
      width: 50%;
      left: 0;
      background: $light_blue;
      // background: #fff;
      // background: rgba(46, 204, 112, 0.735);
    }

    .background_right {
      position: absolute;
      height: 100%;
      position: absolute;
      width: 50%;
      right: 0;
      background: $green;
      // background: #fff;
      // background: rgba(46, 204, 112, 0.735);
    }

    .quote_head {
      display: none;
    }

    h1 {
      color: #000;
    }

    p {
      color: #000;
      font-weight: 500;
    }

    .content {
      position: relative;
      z-index: 4;
      height: 650px;
      width: 100%;
      margin: 1em;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      // justify-content: space-between;
      align-items: center;
    }

  }

  .howItWorks {
    z-index: 4;
    background: #fff;
    font-family: Avenir, cursive;
    position: relative;
    // height: 400px;
    width: 100%;

    .line_container {
      position: absolute;
      width: 100%;
      height: 50px;
      // top: -50px;
    }

    .line {
      background-image: url('./../assets/achtergronden_svg/witte-lijn.svg');
      // background-repeat: repeat;
      background-size: cover;
      height: 50px;
      width: 100%;
      max-width: 100%;
      position: absolute;
      z-index: 2;
      top: -49px;
    }

    h2 {
      margin: 2rem;
    }

    h3 {
      margin-top: 3rem;
      min-height: 60px;
    }

    p {
      display: block;
      margin: 20px auto 0;
      max-width: 300px;
      min-height: 124px;
    }

    .group-item_col {
      justify-content: space-between;

      .text_box {
        display: flex;
        flex-direction: column;
        min-height: 150px;

        a {
          margin: 0.8rem 0;
        }
      }
    }

    .carousel {
      width: 100%;
    }

    .block {
      z-index: 4;
      // border-radius: $border_radius;
      border-style: solid rgba(0, 0, 0, 0.0);
      border-width: 1px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      // left: 0;
      // right: 0;
      // top: -150px;
      background: #fff;
      // position: absolute;
      width: $content_max_width;
      text-align: center;
      // height: 500px;
      // box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.36);
      padding: 60px 0;
    }

    .group {
      justify-content: space-evenly;
    }

    .fas,
    .far {
      font-size: 65px;
      color: $green;
    }

    img {
      height: 300px;
      width: 300px;
    }
  }

  .quote {
    padding: 60px 0;
    background: $green;
    text-align: center;

    h2 {
      color: #fff;
    }
  }

  .tree {
    position: relative;
    min-height: 960px;
    margin: 60px auto 60px;

    h3 {
      color: $green;
    }

    .line {
      position: absolute;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-content: center;
      // justify-content: space-between;
      justify-content: center;
      height: 100%;
      width: 20px;
      left: 0;
      right: 0;
      // background: #ccc;
      // background: $green;
      // background: linear-gradient(top, $green 50%, black 50%);
    }

    .line2 {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-between;
      position: relative;
      margin: 0 auto;
      left: 0;
      right: 0;
      height: 100%;
      width: 5px;
      background: rgba(0, 0, 0, 0.6);
    }

    // #fillLine {
    //   // background-image: linear-gradient(top, $green 0%, black 100%);
    // }

    .bol_wrapper {
      position: relative;
      margin: 0 auto;
      height: 25%;
      // height: 125px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    }

    .bol {
      top: 8.5px;
      // top: 0/.47rem;
      position: absolute;
      height: 70px;
      width: 70px;
      z-index: 3;
      padding: 0;

      text-align: center;

      .fas {
        font-size: 55px;
        color: $green;
        text-align: center;
      }

    }

    .bol2 {
      position: absolute;
      margin: 0 auto;
      border: 5px solid $green;
      border-radius: 60px;
      background: #fff;
      height: 60px;
      width: 60px;
      z-index: 2;
    }

    .text_box {
      position: relative;
      // line-height: 100%;

      text-align: center;
      border: 1px solid #eee;
      border-radius: $border_radius;
      background: #eee;
      padding: 3rem 1.5rem;
      max-height: 500px;
      max-width: 400px;
      margin: 0.3rem 0;


      h3,
      .aai {
        position: relative;
        z-index: 999;
      }

      .bigNumber {
        // line-height: 100%;
        // text-align: center;
        vertical-align: middle;
        line-height: normal;
        color: #ccc;
        position: absolute;
        margin: 0;
        left: 0;
        padding: 0;
        font-size: 220px;
        z-index: 0;
        top: 0;
        bottom: 0;
        font-weight: bold;
      }
    }

    .group:nth-child(even) {
      justify-content: flex-end;
    }
  }

  .help {
    padding: 60px 0;
    position: relative;
    background-image: url('./../assets/vrouw.png');
    background-position: 1% 15%;
    background-repeat: no-repeat;
    background-size: cover;

    .img-background-color {
      z-index: 0;
      top: 0;
      position: absolute;
      background: rgba(0, 155, 237, 0.33);
      width: 100%;
      height: 100%;
    }

    .group {
      position: relative;
      z-index: 5;
      justify-content: flex-end;
    }

    .main {
      .group {
        justify-content: flex-start;

        button {
          margin: 0 1rem 0 0;
        }
      }
    }

    p,
    h2 {
      color: #000;
    }

    p {
      max-width: 500px;
    }
  }

  .calculation {
    padding: 60px 0;
    text-align: left;

    h2,
    h3,
    .kgs {
      color: $green;
    }

    .calculation_left {
      width: 90%;
    }

    p {
      max-width: 800px;
    }

    .kgs {
      margin: 0.2rem 0;
      font-size: 30px;
    }

    img {
      margin: 0 auto;
      width: 280px;
      height: 200px;
    }

    .group-item_col {
      text-align: center;
    }
  }

  .bomenPlanten {
    padding: 60px 0;
    text-align: center;
    background: $green;

    p {
      margin: 1rem auto 0;
      max-width: 800px;
    }

    h2,
    p,
    a {
      color: #FFF;
    }

    a {
      text-decoration: underline;
    }
  }

  .partners {
    height: 100% !important;

    padding: 60px 0;
    margin: 0 auto;
    max-width: $content_max_width;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;

    img {
      height: 140px;
      width: 140px;
      display: block;
      margin: 0 auto;
    }

    .normal {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
    }

    .carousel {
      width: 100%;
      display: none;
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter,
  .fade-leave-to

  /* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
  }

  // media queries
  @media only screen and (max-width: $content_max_width) {
    $grid_width: 90%;

    .howItWorks {
      .block {
        width: $grid_width;
        border: 0;
        border-radius: 0;
      }

      .img_collection {
        width: $grid_width;
      }
    }

    .partners {
      max-width: $grid_width;
    }

  }

  @media only screen and (max-width: 1060px) {


    .howItWorks {
      .block {
        .group {
          flex-wrap: wrap;

          .group-item_col {
            flex: 0 50%;
          }

          .group-item_col:nth-child(3),
          .group-item_col:nth-child(4) {
            margin-top: 3rem;
          }
        }
      }
    }

    .tree {
      display: flex;
      justify-content: center;

      .line {
        position: relative;
        height: unset !important;
        // margin: 0 50px;
      }

    }
  }

  @media only screen and (max-width: 900px) {
    .showCarousel {
      display: block;
      margin: 0 auto;
    }

    .hideCarousel {
      display: none !important;
    }

    .jumbotron {
      text-align: center;

      .content {
        justify-content: center;
        text-align: center;
      }

      .quote_head {
        width: 100%;
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        display: block;

      }

      img {
        width: 55%;
        // min-width: 250px;
        // bottom: -50px;
      }

      .head_group {
        display: none;
      }

    }

    .quote {
      display: none;
    }

    .help {
      background: unset;
      text-align: center;

      .group,
      .buttons {
        justify-content: center !important;
      }
    }

    .calculation {

      text-align: center;

      .calculation_right {
        order: 0;
        width: 100%;
      }

      .calculation_left {
        order: 3;
        // width: 100%;
        margin: 0 auto;
      }

      .group {
        flex-direction: column;
      }
    }

  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: $header1_mobile !important;
    }

    h2 {
      font-size: $header2_mobile !important;
    }

    .showMobile {
      display: block;
      margin: 0 auto;
    }

    .hideMobile {
      display: none;
    }

    .jumbotron {
      img {
        width: 66%;
        min-width: 250px;
        bottom: -50px;
      }
    }

    .tree {
      .line {
        display: none;
      }
    }

    .help {
      .content {
        margin: 0 auto !important;
        padding: 0 !important;
      }

      .buttons {
        flex-wrap: wrap;

        .button {
          width: 100%;
        }

        a {
          width: 100%;
          margin: 0.5rem 0;
        }
      }

      .group {
        justify-content: center;
        margin: 0;
      }
    }

    .calculation_left {
      h2 {
        margin: 1rem 0;
      }
    }

    .partners {
      .normal {
        display: none;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      .carousel {
        display: block;
      }
    }

  }

}
