// Home.scss

@import "_vars.scss";

.home {
  background: white;
  align-self: center;
  position: relative;

  // first section
  .jumbotron {
    position: relative;
    height: 650px;
    width: 100%;
    background: $light_blue;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    img {
      position: absolute;
      // transform: rotate(10deg);
      bottom: 10px;
      user-select: none;
      z-index: -1;
      max-width: 90%;
      right: 0;
      width: 1800px
    }

    .img-background-color {
      position: absolute;
      height: 100%;
      width: 100%;
      // background: rgba(116, 185, 255, 0.735);
      // background: #fff;
      // background: rgba(46, 204, 112, 0.735);
    }

    h1 {
      color: $mid_blue;
      font-size: $large_fs;
    }

    p {
      color: $mid_blue;
      font-weight: 500;
    }

    .jumbo_content {
      position: relative;
      z-index: 4;
      height: 650px;
      margin: 1em;
      width: $content_max_width;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .text_block {
      // background: #fff;
      // border-radius: $border_radius;
      padding: 1em;

      // margin: 1em;
      max-width: 586px;
    }
  }

  // second section
  .howItWorks {
    font-family: Avenir, cursive;
    position: relative;
    height: 400px;
    width: 100%;
    // background: blue;
    // background: $light_blue;

    .img_background {
      background-image: url('./../assets/wolken_unsplash.jpg');
      background-position: 75% 59%;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 0;
    }

    .img-background-color {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 3;
      // background: rgba(116, 185, 255, 0.735);
      // background: rgba(182, 225, 249, 0.8);
      background: rgba(46, 204, 113, 0.8);
      // background: rgba(46, 204, 112, 0.735);
    }

    .carousel {
      width: 100%;
    }

    .block {
      z-index: 4;
      border-radius: $border_radius;
      border-style: solid rgba(0, 0, 0, 0.0);
      border-width: 1px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      left: 0;
      right: 0;
      top: -60px;
      background: #fff;
      position: absolute;
      width: $content_max_width;
      text-align: center;
      height: 500px;
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.36);
      padding: 40px 0;
    }

    .img_collection {
      display: flex;
      margin: 0 auto;
      width: $content_max_width;
      // width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }

    p {
      color: $mid_blue;
      display: block;
      margin: 20px auto 0;
      max-width: 300px;
    }

    img {
      height: 300px;
      width: 300px;
    }
  }

  // third section
  .companies {
    min-height: 500px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 160px 0px 60px;

    h2,
    p {
      max-width: 800px;
      margin: 1em 0;
      color: $mid_blue;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .block {
      margin: 10px;
      width: 125px;
      height: 125px;
      // background: #fff;
      // background: $mid_blue;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100%;
      }
    }

    a {
      color: $green;
      text-decoration: underline;
    }
  }

  .projects {
    background: $light_blue;
    // padding: 60px 0px 60px;
    padding: 60px 0px 60px;
    position: relative;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./../assets/lotte/Illustraties/Middel_13.svg');
    // background-attachment: fixed;

    background-position: bottom;
    height: 400px;

    .content {
      display: flex;
      flex-direction: column;
    }

    p {
      max-width: 700px;
    }

    .img_cover {
      width: 100%;
      height: 100%;
      // background: #000;
      display: flex;
      flex-direction: row;
    }

    img {
      margin: 2em 0;
      object-fit: contain;
      // height: 100%;
      width: calc(100% / 3);
      max-height: 300px;
      // height: 100px;
    }
  }

  // sixth section
  .partners {
    padding: 2em 0;
    display: block;
    margin: 0 auto;
    max-width: $content_max_width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    img {
      height: 140px;
      width: 140px;
      // display: block;
      // margin: 0 auto;
    }

    .normal {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
    }

    .carousel {
      width: 100%;
      display: none;
    }

    // button {
    //   background: rgba(0, 0, 0, 0) !important;
    //   color: rgba(0, 0, 0, 0) !important;

    //   // border-bottom: 2px solid #000;
    //   margin: 3px;
    //   border-radius: 0;
    // }

    // .VueCarousel-dot {
    //   border-bottom: 2px solid #ccc;
    // }

    // .VueCarousel-dot--active {
    //   border-bottom: 2px solid #000;
    // }
  }

  .scratches1 {
    background-size: cover;
    transform: rotate(180deg);
    background-image: url('./../assets/achtergronden_svg/Middel_10.svg');
    bottom: -50px;
    position: absolute;
    height: 100%;
    width: 2000px;
    z-index: 2;
  }

  // media queries

  @media only screen and (max-width: $content_max_width) {
    $grid_width: 90%;

    .content {
      width: $grid_width !important;
    }

    .jumbo_content {
      width: $grid_width !important;

      .text_block {
        max-width: 400px;
      }
    }

    .howItWorks {
      .block {
        width: $grid_width;
        // box-shadow: none;
        border: 0;
        border-radius: 0;
      }

      // .img_block {
      //   width: 100%;
      // }

      .img_collection {
        // flex-direction: column;
        width: $grid_width;
      }
    }

    .partners {
      max-width: $grid_width;
    }

  }

  @media only screen and (max-width: 900px) {

    .showCarousel {
      display: block;
      margin: 0 auto;
    }

    .hideCarousel {
      display: none !important;
    }

    .jumbotron {
      .jumbo_content {
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      .text_block {
        // margin-top: 90px;
        max-width: 586px;
      }

      img {
        // display: none;
        bottom: -20px;
        right: 0;
        margin: 0 auto;
        // top: -120px;
        width: 100% !important;
        // max-width: 12000px;
        max-width: 1200px;
      }
    }

    .howItWorks {
      .img_collection {
        flex-direction: column;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: $header1_mobile !important;
    }

    h2 {
      font-size: $header2_mobile !important;
    }

    .showMobile {
      display: block;
      margin: 0 auto;
    }

    .hideMobile {
      display: none;
    }

    .companies {
      .block {
        width: 100px;
        height: 100px;
      }
    }

    .partners {
      .normal {
        display: none;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      .carousel {
        display: block;
      }
    }

    .projects {

      img:nth-child(1),
      img:nth-child(3) {
        display: none;
      }

      img {
        width: 100%;
      }
    }

  }

}
