// Home.scss

@import "_vars.scss";

.home {
  background: white;
  align-self: center;

  // first section
  .jumbotron1 {
    position: relative;
    height: 650px;
    width: 100%;
    // background: $primary_color;
    background-image: url('./../assets/clouds-fog-forest.jpg');

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      transform: rotate(10deg);
      left: 20px;
      bottom: -170px;
      user-select: none;
      z-index: 1;
      max-width: 55%;
    }

    .img-background-color {
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(46, 204, 112, 0.735);
    }

    h1 {
      font-size: $large_fs;
      color: #fff;
    }

    p {
      color: #fff;
    }

    .jumbo_content {
      z-index: 1;
      height: 650px;
      margin: 1em;
      width: $content_max_width;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .text_block {
      margin: 1em;
      max-width: 586px;
    }
  }

  // second section
  .ourMission {
    position: relative;
    height: 0;
    z-index: 5;
    // display: none; //

    .block {
      border-radius: $border_radius;
      border-style: solid rgba(0, 0, 0, 0.0);
      border-width: 1px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      left: 0;
      right: 0;
      top: -60px;
      background: #fff;
      position: absolute;
      width: $content_max_width;
      text-align: center;
      height: 360px;
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.36);
    }

    .text {
      padding: 50px;
    }

    p {
      font-size: $normal_fs;
      font-weight: bold;
    }
  }

  // third section
  .howItWorks {
    position: relative;
    z-index: 1;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 360px 0px 60px;
    background: $grey2;

    .img_collection {
      display: flex;
      margin: 0 auto;
      width: $content_max_width;
      // width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }

    p {
      color: $mid_blue;
      display: block;
      margin: 20px auto 0;
      max-width: 300px;
    }

    img {
      height: 300px;
      width: 300px;
    }
  }

  // fourth section
  .companies {
    min-height: 500px;
    background: $grey;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px;

    h2,
    p {
      // color: #fff;
      color: $mid_blue;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap-reverse;
    }

    .block {
      margin: 10px;
      width: 200px;
      height: 200px;
      // background: #fff;
      // background: $mid_blue;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }

  // fifth section
  .qa_section {
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px;
    background: $grey2;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: $content_max_width;
      // width: 80%;
    }

    .qa_block {
      margin: 18px 0;
      width: 100%;
      text-align: left;
      display: block;
      color: $mid_blue;
    }

    .q {
      border-bottom: 1px solid black;
      cursor: pointer;
      font-weight: bold;
      padding: 10px;
      color: $mid_blue;
    }

    .a {
      padding: 10px;
      color: $mid_blue;
      // display: none;
    }

    // animations
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.5s;
    }

    .fade-enter,
    .fade-leave-to

    /* .fade-leave-active below version 2.1.8 */
      {
      opacity: 0;
    }
  }

  // sixth section
  .partners {
    padding: 2em 0;
    display: block;
    margin: 0 auto;
    max-width: $content_max_width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    img {
      height: 140px;
      width: 140px;
      // display: block;
      // margin: 0 auto;
    }

    .normal {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
    }

    .carousel {
      width: 100%;
      display: none;
    }

    button {
      background: rgba(0, 0, 0, 0) !important;
      color: rgba(0, 0, 0, 0) !important;

      // border-bottom: 2px solid #000;
      margin: 3px;
      border-radius: 0;
    }

    .VueCarousel-dot {
      border-bottom: 2px solid #ccc;
    }

    .VueCarousel-dot--active {
      border-bottom: 2px solid #000;
    }
  }

  .img_lang {
    width: 50px;
    height: 40px;
  }

  // media queries

  @media only screen and (max-width: $content_max_width) {
    $grid_width: 90%;

    .content {
      width: $grid_width !important;
    }

    .jumbo_content {
      width: $grid_width !important;
    }

    .ourMission {
      .block {
        width: $grid_width;
        // box-shadow: none;
        border: 0;
        border-radius: 0;
      }
    }

    .howItWorks {
      .img_collection {
        // flex-direction: column;
        width: $grid_width;
      }
    }

    .companies {
      .block {
        width: 100px;
        height: 100px;
      }
    }

    .qa_section {
      width: 100% !important;

      .content {
        width: 90% !important;
      }
    }

    .partners {
      max-width: $grid_width;
    }
  }

  @media only screen and (max-width: 900px) {
    .jumbotron1 {
      // .jumbo_content {
      //   // flex-direction: column;
      //   // justify-content: flex-start;
      // }

      img {
        display: none;
        // left: 0;
        // right: 0;
        // margin: 0 auto;
        // bottom: -180px;
        // width: 80% !important;
        // max-width: 100%;
      }
    }

    .howItWorks {
      .img_collection {
        flex-direction: column;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: $header1_mobile !important;
    }

    h2 {
      font-size: $header2_mobile !important;
    }

    .ourMission {
      .block {
        width: 100%;
        box-shadow: none;
        border: 0;
        border-radius: 0;
      }
    }

    .partners {
      .normal {
        display: none;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      .carousel {
        display: block;
      }
    }
  }

}
