@import "_vars.scss";

.home {
  position: relative;

  // voor parralax 

  // .start {
  //   height: 100vh;
  //   width: 100%;
  // }

  // .begin {
  //   background-image: url('./../assets/windmolen.png');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   top: 0;
  //   position: fixed;
  //   width: 100%;
  //   height: 100vh;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  // }

  .jumbotron {
    position: relative;
    background-image: url('./../assets/windmolen.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .img-background-color {
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0, 155, 237, 0.33);
      // background: #fff;
      // background: rgba(46, 204, 112, 0.735);
    }

    h1 {
      color: #fff;
    }

    p {
      color: #fff;
      font-weight: 500;
    }

    .content {
      position: relative;
      z-index: 4;
      height: 650px;
      width: 100%;
      margin: 1em;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      // justify-content: space-between;
      align-items: center;
    }

    .text_block {
      // background: #fff;
      // border-radius: $border_radius;
      padding: 1em;

      // margin: 1em;
      max-width: 688px;
    }

  }

  .howItWorks {
    background: #fff;
    font-family: Avenir, cursive;
    position: relative;
    height: 400px;
    width: 100%;

    .line_container {
      position: absolute;
      width: 100%;
      height: 50px;
      // top: -50px;
    }

    .line {
      background-image: url('./../assets/achtergronden_svg/witte-lijn.svg');
      // background-repeat: repeat;
      background-size: cover;
      height: 50px;
      width: 100%;
      max-width: 100%;
      position: absolute;
      z-index: 2;
      top: -49px;
    }

    h2 {
      margin: 0 2rem 2rem 2rem;
    }

    .group-item_col {
      justify-content: space-between;

      .text_box {
        display: flex;
        margin-top: 3rem;
        flex-direction: column;
        min-height: 150px;
      }
    }

    .carousel {
      width: 100%;
    }

    .block {
      z-index: 4;
      // border-radius: $border_radius;
      border-style: solid rgba(0, 0, 0, 0.0);
      border-width: 1px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      left: 0;
      right: 0;
      top: -150px;
      background: #fff;
      position: absolute;
      width: $content_max_width;
      text-align: center;
      height: 500px;
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.36);
      padding: 40px 0;
    }

    .group {
      justify-content: space-evenly;
    }

    p {
      display: block;
      margin: 20px auto 0;
      max-width: 300px;
    }

    .fas {
      font-size: 150px;
      color: $green;
    }

    img {
      height: 300px;
      width: 300px;
    }
  }

  .tree {
    position: relative;
    margin: 100px auto 75px;

    h3 {
      color: $green;
    }

    .line {
      position: absolute;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-between;
      height: 100%;
      // width: 14px;
      width: 5px;
      left: 0;
      right: 0;
      background: $green;
    }

    .bol_wrapper {
      position: relative;
      margin: 0 auto;
      height: 187px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    .bol {
      position: absolute;
      left: -20px;
      right: 0;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 30px;
      background: $dark_green;
      height: 40px;
      width: 40px;
      z-index: 3;
    }

    .bol2 {
      position: absolute;
      left: -30px;
      // top: -10px;
      right: 0;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 30px;
      background: $green;
      height: 60px;
      width: 60px;
      z-index: 2;
    }

    .text_box {
      text-align: center;
      border: 1px solid #eee;
      border-radius: $border_radius;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      padding: 1rem;
      height: 187px;
      max-width: 400px;
    }

    .group:nth-child(even) {
      justify-content: flex-end;
    }
  }

  .help {
    padding: 100px 0;
    position: relative;
    background-image: url('./../assets/vrouw.png');
    background-repeat: no-repeat;
    background-size: cover;

    .img-background-color {
      z-index: 0;
      top: 0;
      position: absolute;
      background: rgba(0, 155, 237, 0.33);
      width: 100%;
      height: 100%;
    }

    .group {
      position: relative;
      z-index: 5;
      justify-content: flex-end;
    }

    .main {
      .group {
        justify-content: flex-start;

        button {
          margin: 0 1rem 0 0;
        }
      }
    }

    p,
    h2 {
      color: #fff;
    }

    p {
      max-width: 500px;
    }
  }

  .calculation {
    padding: 100px 0;
    text-align: left;

    h2,
    h3,
    .kgs {
      color: $green;
    }

    .calculation_left {
      width: 90%;
    }

    p {
      max-width: 800px;
    }

    .kgs {
      font-size: 30px;
    }

    img {
      margin: 0 auto;
      width: 280px;
      height: 200px;
    }

    .group-item_col {
      text-align: center;
    }
  }

  .bomenPlanten {
    padding: 100px 0;
    text-align: center;
    background: $green;

    p {
      margin: 1rem auto 0;
      max-width: 800px;
    }

    h2,
    p,
    a {
      color: #FFF;
    }

    a {
      text-decoration: underline;
    }
  }

  // media queries
  @media only screen and (max-width: $content_max_width) {
    $grid_width: 90%;

    .howItWorks {
      .block {
        width: $grid_width;
        border: 0;
        border-radius: 0;
      }

      .img_collection {
        width: $grid_width;
      }
    }

  }

  @media only screen and (max-width: 900px) {

    .showCarousel {
      display: block;
      margin: 0 auto;
    }

    .hideCarousel {
      display: none !important;
    }

    .calculation {
      .calculation_right {
        order: 0;
      }

      .calculation_left {
        order: 3;
      }

      .group {
        flex-direction: column;
      }
    }

  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: $header1_mobile !important;
    }

    h2 {
      font-size: $header2_mobile !important;
    }

    .showMobile {
      display: block;
      margin: 0 auto;
    }

    .hideMobile {
      display: none;
    }

    .help {
      .content {
        margin: 0 !important;
        padding: 0 !important;
      }

      .group {
        justify-content: center;
        margin: 0;
      }
    }
  }
}
