// Home.scss

@import "_vars.scss";

.home {
  background: white;
  align-self: center;

  // first section
  .jumbotron1 {
    height: 650px;
    width: 100%;
    background: $primary_color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: $large_fs;
      color: #fff;
    }

    p {
      color: #fff;
    }

    .jumbo_content {
      height: 650px;
      margin: 1em;
      width: $content_max_width;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .text_block {
      margin: 1em;
      max-width: 586px;
    }
  }

  // second section
  .ourMission {
    position: relative;
    height: 0;
    // display: none; //

    .block {
      border-radius: $border_radius;
      border-style: solid rgba(0, 0, 0, 0.0);
      border-width: 1px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      left: 0;
      right: 0;
      top: -60px;
      background: #fff;
      position: absolute;
      width: $content_max_width - 100px;
      text-align: center;
      height: 360px;
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.36);
    }

    .text {
      padding: 50px;
    }

    p {
      font-size: $normal_fs;
      font-weight: bold;
    }
  }

  // third section
  .howItWorks {
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 360px 0px 60px;
    background: $grey2;

    .img_collection {
      display: flex;
      margin: 0 auto;
      width: $content_max_width;
      flex-direction: row;
      justify-content: space-around;
    }

    p {
      color: $mid_blue;
      display: block;
      margin: 20px auto 0;
      max-width: 300px;
    }

    img {
      height: 300px;
      width: 300px;
    }
  }

  // fourth section
  .companies {
    min-height: 500px;
    // background: $mid_blue;
    background: $grey;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px;

    h2,
    p {
      // color: #fff;
      color: $mid_blue;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap-reverse;
    }

    .block {
      margin: 20px;
      width: 200px;
      height: 200px;
      // background: #fff;
      background: $mid_blue;
    }
  }

  // fifth section
  .qa_section {
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px;
    background: $grey2;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: $content_max_width;
      // width: 80%;
    }

    .qa_block {
      margin: 18px 0;
      width: 100%;
      text-align: left;
      display: block;
    }

    .q {
      border-bottom: 1px solid black;
      cursor: pointer;
      font-weight: bold;
      padding: 10px;
    }

    .a {
      padding: 10px;
      // display: none;
    }

    // animations
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.5s;
    }

    .fade-enter,
    .fade-leave-to

    /* .fade-leave-active below version 2.1.8 */
      {
      opacity: 0;
    }
  }

  .img_lang {
    width: 50px;
    height: 40px;
  }

  // media queries

  @media only screen and (max-width: $content_max_width) {

    .ourMission {
      .block {
        width: 100%;
        box-shadow: none;
        border: 0;
        border-radius: 0;
      }
    }

    .howItWorks {
      .img_collection {
        flex-direction: column;
        width: 100%;
      }
    }

    .companies {
      .block {
        width: 150px;
        height: 150px;
      }
    }

    .qa_section {
      width: 100% !important;

      .content {
        width: 90% !important;
      }
    }
  }
}
