// Navigation.scss

@import "_vars.scss";

.navigation {
    position: absolute;
    z-index: 500000;
    width: 100%;
    display: block;

    .navbar {
        max-height: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 90%;
        color: black;
        height: 67px;
    
        .spacing {
            margin-right: 10px;
            text-decoration: none;
        }
    
        .co2ok-logo {
            flex-grow: 1;
    
            img {
                margin: 0px 0px 0px 5px;
                width: 100px;
                
            }
        }  
    }

    //give navbar width 100% and fixed on top.
    .showBar {
        position: fixed;
        background:rgba(255,255,255, 0.9);
        max-height: 200px;
        transition: max-height 1s;
        width: 80% !important;
        max-width: 80% !important;
        left:0 !important;
        right: 0 !important;
    }

}

@media only screen and (max-width: $content_max_width) {
    .navigation{
        .navbar{
            width:90%;
        }
    }
}


@media (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .nav-items-mobile {
        display: block;
        position: absolute;
        right: 25px;
        z-index: 10;
        -webkit-user-select: none;
        user-select: none;

        input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;    
            cursor: pointer;                
            opacity: 0;
            z-index: 30;                
            -webkit-touch-callout: none;
            }

            span {
                display: block;
                position: fixed;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;    
                background: #cdcdcd;
                border-radius: 3px;    
                z-index: 20;    
                transform-origin: 4px 0px;                    
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;
            }

            span:first-child {
                transform-origin: 0% 0%;
            }

            span:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
            input:checked ~ span {
                opacity: 1;
                transform: rotate(45deg) translate(-2px, -1px);
                background: #232323;
            }
            input:checked ~ span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            input:checked ~ span:nth-last-child(2) {
                opacity: 1;
                transform: rotate(-45deg) translate(0, -1px);
            }

            .mobile-menu {
                display: flex;
                flex-direction: column;
                position: fixed;
                height: 100%;
                width: 325px;
                margin: -100px 0 0 0;
                padding: 25px;
                padding-top: 125px;
                right: -100px;
                z-index: 10;
                background: white;
                -webkit-font-smoothing: antialiased;
                
                transform-origin: 0% 0%;
                transform: translate(100%, 0);
                
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

                .spacing {
                    margin: 10px 0px 10px 0px;
                }
            }
            input:checked ~ div {
                transform: scale(1.0, 1.0);
            }
        }
    .nav-items {
        display: none;
    }
}
@media (min-width:480px) {}
@media (min-width:600px) {}
@media (min-width:801px) {
    .navigation {
        .nav-items-mobile {
            display: none;
        }
        .nav-items {
            display: flex;
        }
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) {/* hi-res laptops and desktops */}