// Navigation.scss

@import "_vars.scss";

.navigation {

  //   position: absolute;
  //   width: 100%;
  //   height: 67px;
  //   display: block;
  .nav-items-mobile {
    display: none;
  }

  .spacing-desktop {
    margin: 0 4px;
    // border: 1px solid $green;
    // border-radius: $border_radius;
    // background: $green;
    color: #fff;
    padding: 10px;
  }

  .spacing-desktop:hover {
    // background: #eee;
    margin: 0 4px;
  }


  // .spacing-desktop:nth-last-child(1) {
  //   border: 1px solid #fff200;
  //   border-radius: $border_radius;
  //   background: #fff200;
  //   color: #000;
  //   padding: 10px;
  // }

  // .spacing-desktop:nth-last-child(1):hover {
  //   // background: rgba(0, 184, 148, 1.0);
  //   // border-color: rgba(0, 184, 148, 1.0);
  //   background: $green;
  //   border-color: $green;
  // }

  .navbar {
    position: absolute;
    width: 100%;
    z-index: 500000;
    max-height: 0;
    color: black;
    border-bottom: 3px solid $green;

    .content {
      padding: 1em;
      height: inherit;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .spacing {
      margin-right: 10px;
      text-decoration: none;
    }

    .co2ok-logo {
      flex-grow: 1;

      img {
        // margin: 0px 0px 0px 5px;
        width: 100px;

      }
    }
  }

  //give navbar width 100% and fixed on top.
  .showBar {
    overflow: hidden;
    position: fixed;
    background: rgba(255, 255, 255, 0.96);
    max-height: 200px;
    transition: max-height 1s;
    // width: 80% !important;
    // max-width: 80% !important;
    left: 0 !important;
    right: 0 !important;
  }

  .showLogo {
    display: block !important;
  }

  .showButton {
    display: inline-block !important;
    margin: 0;
    vertical-align: 0;
    height: 44px;
    width: 150px;
  }

  .showItems {
    color: $mid_blue;
  }

  #hiddenLogo {
    display: none;
  }

  .hideLogo {
    display: none;
  }

}

@media only screen and (max-width: $content_max_width) {
  .navigation {
    .content {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .navigation {
    .navbar {
      position: fixed;
      background: white;
      max-height: 200px;
    }

    // remove last (download button) from mobile nav
    // .spacing:nth-last-child(1) {
    //   display: none;
    // }

    .nav-items-mobile {
      display: block;
      position: absolute;
      right: 25px;
      z-index: 10;
      -webkit-user-select: none;
      user-select: none;

      input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 30;
        -webkit-touch-callout: none;
      }

      span {
        display: block;
        position: fixed;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 20;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          opacity 0.55s ease;
      }

      span:first-child {
        transform-origin: 0% 0%;
      }

      span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }

      input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
      }

      input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      input:checked~span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
      }

      .mobile-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 325px;
        margin: -100px 0 0 0;
        padding: 25px;
        padding-top: 125px;
        right: -100px;
        z-index: 10;
        background: #fff;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);


        .spacing {
          margin: 10px 0px 10px 0px;
        }
      }

      input:checked~div {
        transform: scale(1.0, 1.0);
      }
    }
  }

  .nav-items {
    display: none;
  }
}
