// Navigation.scss
@import "_vars.scss";

.navigation {

  .nav-items-mobile {
    display: none;
  }

  .spacing-desktop {
    margin: 0 4px;
    // border: 1px solid $green;
    // border-radius: $border_radius;
    // background: $green;
    color: #000;
    padding: 10px;
    vertical-align: middle;
  }

  .spacing-desktop:hover {
    // background: #eee;
    margin: 0 4px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    padding-top: 5px;
    // background-color: #f9f9f9;
    // min-width: 160px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }


  // .spacing-desktop:nth-last-child(1) {
  //   border: 1px solid #fff200;
  //   border-radius: $border_radius;
  //   background: #fff200;
  //   color: #000;
  //   padding: 10px;
  // }

  // .spacing-desktop:nth-last-child(1):hover {
  //   // background: rgba(0, 184, 148, 1.0);
  //   // border-color: rgba(0, 184, 148, 1.0);
  //   background: $green;
  //   border-color: $green;
  // }

  .navbar {
    position: absolute;
    width: 100%;
    z-index: 500000;
    max-height: 0;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);

    // background: white;
    // border-bottom: 3px solid #eee;

    .content {
      padding: 1em;
      height: inherit;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .spacing {
      margin-right: 10px;
      text-decoration: none;
    }

    .co2ok-logo {
      flex-grow: 1;

      a {
        border: none !important;
      }

      img {
        // margin: 0px 0px 0px 5px;
        width: 100px;

      }
    }
  }

  //give navbar width 100% and fixed on top.
  .showBar {
    overflow: hidden;
    position: fixed;
    background: rgba(255, 255, 255, 0.98);
    max-height: 200px;
    transition: max-height 1s;
    // border-bottom: 3px solid $green;
    // width: 80% !important;
    // max-width: 80% !important;
    left: 0 !important;
    right: 0 !important;
  }



  .showButton {
    display: inline-block !important;
    margin: 0 4px;
    vertical-align: 0;
    height: 44px;
    width: 150px;
    font-size: 16px;
  }

  .showItems {
    color: #000;
    display: inline-block;
  }

  .showLogo {
    display: block !important;
  }

  #hiddenLogo {
    display: none;
  }

  .hideLogo {
    display: none;
  }

  .profile {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px;

    i {
      vertical-align: middle;
      font-size: 21px;
    }
  }

  .profile_mobile {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px 0px 10px 0px;

    i {
      vertical-align: middle;
      font-size: 21px;
    }
  }

  .lang_flag {
    width: 33px;
    height: 21px;
    padding: 10px;
    z-index: 9999999;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    line-height: 0;
    // margin: 0 4px;
    margin: 10px 0px 10px 0px;

    img {
      height: 21px;
      // width: 50px;
    }
  }

  .lang_flag_mobile {
    z-index: 9999999;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    line-height: 0;
    // margin: 0 4px;
    margin: 10px 0px 10px 0px;

    img {
      height: 21px;
      // width: 50px;
    }
  }

  .active_border {
    border: 2px solid $green;
    width: 100%;
    height: 2px;
  }

  .router-link-active {
    border-bottom: 2px solid #000;
    // width: 100%;
    // height: 2px;
  }


}

@media only screen and (max-width: $content_max_width) {
  .navigation {
    .content {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 700px) {

  .navigation {

    .router-link-active {
      border: 0;
      border-bottom: 0;
    }

    .co2ok-logo {
      flex-grow: 0 !important;
    }

    #hiddenLogo {
      display: block !important;
    }

    #logo1 {
      display: none;
    }

    .navbar {
      position: fixed;
      background: white;
      max-height: 200px;

      // border-bottom: 3px solid $green;

    }

    // remove last (download button) from mobile nav
    // .spacing:nth-last-child(1) {
    //   display: none;
    // }

    .nav-items-mobile {
      display: block;
      position: absolute;
      right: 25px;
      z-index: 10;
      -webkit-user-select: none;
      user-select: none;

      a {
        font-size: 19px;
      }

      input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 30;
        -webkit-touch-callout: none;
      }

      span {
        display: block;
        position: fixed;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 20;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          opacity 0.55s ease;
      }

      span:first-child {
        transform-origin: 0% 0%;
      }

      span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }

      input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
      }

      input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      input:checked~span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
      }

      .mobile-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 325px;
        margin: -100px 0 0 0;
        padding: 25px;
        padding-top: 125px;
        right: -100px;
        z-index: 10;
        background: #FAFAFA;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);


        .spacing {
          margin: 10px 0px 10px 0px;
        }
      }

      input:checked~div {
        transform: scale(1.0, 1.0);
      }
    }
  }

  .nav-items {
    display: none;
  }
}

