// Home.scss

@import "_vars.scss";

.ninja {
  background: white;
  align-self: center;
  position: relative;

  // first section
  .jumbotron {
    position: relative;
    height: 650px;
    width: 100%;
    background: $green;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    img {
      position: absolute;
      // transform: rotate(10deg);
      bottom: 10px;
      user-select: none;
      z-index: -1;
      max-width: 90%;
      right: 0;
      width: 1800px
    }

    .img-background-color {
      position: absolute;
      height: 100%;
      width: 100%;
      // background: rgba(116, 185, 255, 0.735);
      // background: #fff;
      // background: rgba(46, 204, 112, 0.735);
    }

    h1 {
      font-size: $large_fs;
      color: #fff;
    }

    p {
      font-weight: 500;
      color: #fff;
    }

    .jumbo_content {
      position: relative;
      z-index: 4;
      height: 650px;
      margin: 1em;
      width: $content_max_width;

      display: flex;
      flex-direction: row;
      // justify-content: flex-start;
      justify-content: space-between;
      align-items: center;
    }

    .text_block {
      // background: #fff;
      // border-radius: $border_radius;
      padding: 1em;

      // margin: 1em;
      max-width: 586px;
    }

    .line_container {
      position: absolute;
      width: 100%;
      height: 50px;
      bottom: 0;
      // z-index: 1;
      // background: #000;
    }

    .line {
      background-image: url('./../assets/achtergronden_svg/blauw-lijn.svg');
      background-repeat: no-repeat; // background-image: url('./../assets/achtergronden_svg/grijs-lijn-2.svg');
      object-fit: cover;
      background-repeat: repeat;
      transform: rotate(180deg);
      height: 50px;
      width: 100%;
      max-width: 100%;
      position: absolute;
      z-index: 99;
      bottom: -30px;
    }

  }

  // second section
  .howItWorks {
    font-family: Avenir, cursive;
    position: relative;
    // height: 400px;
    width: 100%;

    background: #fff;

    .line_container {
      position: absolute;
      width: 100%;
      height: 50px;
      // top: 17px;
    }

    .line {
      background-image: url('./../assets/achtergronden_svg/witte-lijn.svg');
      // background-repeat: repeat;
      background-size: cover;
      height: 50px;
      width: 100%;
      max-width: 100%;
      position: absolute;
      z-index: 2;
      top: -49px;
    }

    .carousel {
      width: 100%;
    }

    .block {
      z-index: 4;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      left: 0;
      right: 0;
      background: #fff;
      width: $content_max_width;
      text-align: center;
      // height: 500px;
      padding: 40px 0;
    }

    .img_collection {
      display: flex;
      margin: 0 auto;
      width: $content_max_width;
      // width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }

    p {
      display: block;
      margin: 20px auto 0;
      max-width: 300px;
    }

    img {
      height: 300px;
      width: 300px;
    }
  }

  // third section
  .companies {
    position: relative;
    min-height: 500px;
    background: #eee;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px;


    p {
      max-width: 800px;
      margin: 1em 0;
    }

    h2 {
      max-width: 800px;
      margin: 0 0 1em 0;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .block {
      margin: 10px;
      width: 125px;
      height: 125px;
      // background: #fff;
      // background: $mid_blue;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100%;
      }
    }

    a {
      color: $green;
      text-decoration: underline;
    }
  }

  .projects {
    // background: $light_blue;
    background: $green;
    // padding: 60px 0px 60px;
    padding: 60px 0px 60px;
    position: relative;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./../assets/lotte/Illustraties/Middel_13.svg');
    // background-attachment: fixed;

    background-position: bottom;
    height: 400px;

    .content {
      display: flex;
      flex-direction: column;
    }

    h2 {
      color: #fff;
    }

    p {
      color: #fff;
      max-width: 700px;
    }

    .img_cover {
      width: 100%;
      height: 100%;
      // background: #000;
      display: flex;
      flex-direction: row;
    }

    img {
      margin: 2em 0;
      object-fit: contain;
      // height: 100%;
      width: calc(100% / 3);
      max-height: 300px;
      // height: 100px;
    }
  }

  .besparing {
    padding: 60px 0;
    text-align: center;

    p {
      font-size: $medium_fs;
      font-weight: bold;
    }

    #kgs {
      color: $green;
    }
  }

  .privacy {
    background: $green;
    color: #fff;
    padding: 60px 0 60px;

    .content>.group:nth-child(1) {
      justify-content: space-between;
    }

    .group {
      justify-content: space-around;
    }

    .group-item_col {
      justify-content: space-around;
    }

    a {
      text-decoration: underline;
    }

    h2,
    h3,
    p,
    a {
      color: #fff;
    }

    .about_privacy {
      max-width: 500px;
      margin: 10px 10px;
    }

    .contact {
      margin: 10px 10px;
      background: #fff;
      width: 400px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .group-item {
        height: 100%;
      }

      p {
        font-size: 20px;
      }

      .fas,
      .fab,
      i {
        color: $green;
        font-size: 40px;
      }

      h2,
      h3,
      p,
      ul,
      li,
      a {
        list-style: none;
        font-weight: bold;
        color: #000 !important;
      }

      .email_number {
        margin-left: 5px;
      }
    }
  }

  // media queries

  @media only screen and (max-width: $content_max_width) {
    $grid_width: 90%;

    .content {
      width: $grid_width !important;
    }

    .jumbo_content {
      width: $grid_width !important;

      .text_block {
        max-width: 400px;
      }
    }

    .howItWorks {
      .block {
        width: $grid_width;
        // box-shadow: none;
        border: 0;
        border-radius: 0;
      }

      // .img_block {
      //   width: 100%;
      // }

      .img_collection {
        // flex-direction: column;
        width: $grid_width;
      }
    }

  }

  @media only screen and (max-width: 900px) {

    .showCarousel {
      display: block;
      margin: 0 auto;
    }

    .hideCarousel {
      display: none !important;
    }

    .jumbotron {
      .jumbo_content {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 300px;
        text-align: center;
      }

      .text_block {
        max-width: 586px;
      }

      img {
        // display: none;
        bottom: 70px;
        right: 0;
        margin: 0 auto;
        // top: -120px;
        width: 100% !important;
        // max-width: 12000px;
        max-width: 600px;
      }
    }

    .howItWorks {
      .img_collection {
        flex-direction: column;
      }
    }

    .privacy {
      .group:nth-child(1) {
        flex-direction: column;
        margin: 10px;
      }

      text-align: center;

      .group-item {
        justify-content: center;
      }

      .group>.group-item_col:nth-child(2) {
        flex-direction: row;
        margin: 10px 0;
        justify-content: space-evenly;
      }

      .about_privacy {
        text-align: center;
        width: 100%;
        max-width: 100%;
        margin: 10px auto;
        text-align: center;
      }

      .contact {
        max-width: 900px;
        width: 100%;
        margin: 10px auto;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: $header1_mobile !important;
    }

    h2 {
      font-size: $header2_mobile !important;
    }

    .showMobile {
      display: block;
      margin: 0 auto;
    }

    .hideMobile {
      display: none;
    }

    .companies {
      .block {
        width: 100px;
        height: 100px;
      }
    }

    .projects {

      img:nth-child(1),
      img:nth-child(3) {
        display: none;
      }

      img {
        width: 100%;
      }
    }

  }

}
