// Privacy.scss

@import "_vars.scss";

.privacy {

  h2 {
    text-align: center;
    margin-top: 1em;
  }

  a {
    text-decoration: underline;
  }

  .jumbotron {
    height: 200px;
    width: 100%;
    // background-image: url('./../assets/wolken_unsplash.jpg');
    // background-position: 75% 59%;

    .background_color {
      height: 100%;
      width: 100%;
      background: rgba(46, 204, 113, 1);
    }
  }

  .privacypolicy {
    max-width: 50%;
    float: left;
    // margin-left: 5%;
  }

  .lockimage {
    max-width: 35%;

  }

  .pp__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;

    .lockimage {
      width: 50%;
      margin-right: 50px;
    }
  }

  .questions {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;

    .line_container {
      position: absolute;
      width: 100%;
      height: 60px;
      // z-index: 1;
      // background: #000;
    }

    .line {
      // background: #000;
      background-image: url('./../assets/achtergronden_svg/witte-lijn.svg');
      background-repeat: no-repeat; // background-image: url('./../assets/achtergronden_svg/grijs-lijn-2.svg');
      background-size: cover;
      background-repeat: repeat;
      // object-fit: fill;
      height: 50px;
      width: 100%;
      max-width: 100%;
      position: absolute;
      z-index: 99;
      top: -50px;
    }
  }

  .faqbox {
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 0px 60px;
    // background: $grey2;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: $content_max_width;
      // width: 80%;
    }

    .qa_block {
      margin: 18px auto;
      width: 100%;
      text-align: left;
      display: block;
      color: $mid_blue;
    }

    .q {
      border-bottom: 1px solid black;
      cursor: pointer;
      font-weight: bold;
      //   padding: 10px;
      color: $mid_blue;
    }

    .a {
      padding: 0 10px;
      color: $mid_blue;

      // display: none;
      p {
        // font-weight: bold;
      }
    }

    // animations
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.5s;
    }

    .fade-enter,
    .fade-leave-to

    /* .fade-leave-active below version 2.1.8 */
      {
      opacity: 0;
    }
  }

  @media only screen and (max-width: $content_max_width) {

    .faqbox {
      width: 100% !important;

      .content {
        width: 100% !important;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .privacypolicy {
      max-width: unset;
    }

    .lockimage {
      display: none;
    }
  }
}
