@import "_vars.scss";

.projecten {
  background: white;
  align-self: center;
  position: relative;

  .jumbotron {
    position: relative;
    height: 650px;
    width: 100%;
    background: $light_blue;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      // position: relative;
      // bottom: 10px;
      // user-select: none;
      // z-index: -1;
      // left: 0;
      // max-width: 45%;
      // width: 600px;

      position: relative;
      bottom: -65px;
      max-width: 64%;
      left: 0;
      width: 600px;
      user-select: none;
      z-index: -1;
    }

    .img-background-color {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    p {
      font-weight: 500;
    }

    .jumbo_content {
      position: relative;
      z-index: 4;
      height: 100%;
      margin: 1em;
      width: $content_max_width;

      display: flex;
      flex-direction: row;
      // justify-content: flex-start;
      justify-content: space-between;
      align-items: center;
    }

    .text_block {
      text-align: left;
      padding: 1em;
      max-width: 586px;
    }
  }

  .project_info {
    position: relative;
    display: block;
    margin: 0 auto;

    .content {
      padding: 60px 0px 60px;
    }

    .group {
      margin: 20px 0;
    }

    .group-item_col {
      width: 50%;
      margin: 0 10px;

      .text {
        max-width: 700px;
        display: block;
        margin: 0 auto;
        padding: 0 0 15px;

        h2 {
          margin: 20px 0 20px;
        }
      }

      h3 {
        margin: 10px 0;
      }
    }

    .text {
      p {
        max-width: 500px;
        display: block;
        margin: 0 auto;
      }

      h2 {
        max-width: 500px;
        display: block;
        margin: 0 auto;
      }
    }

    .img_container {
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }

    img {
      max-width: 600px;
      width: 100%;
      height: 100%;
      //   object-fit: contain;
      object-fit: cover;
    }

    .line_container {
      position: absolute;
      width: 100%;
      height: 50px;
      // z-index: 1;
      // background: #000;
    }

    .line {
      // background: #000;
      background-image: url('./../assets/achtergronden_svg/witte-lijn.svg');
      background-repeat: no-repeat; // background-image: url('./../assets/achtergronden_svg/grijs-lijn-2.svg');
      background-size: cover;
      width: 100%;
      // object-fit: fill;
      height: 50px;
      width: 100%;
      max-width: 100%;
      position: absolute;
      z-index: 99;
      top: -45px;
    }
  }

  .partners_bg {
    background: $grey;
  }

  .partners {
    padding: 60px 0;
    margin: 0 auto;
    max-width: $content_max_width;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;

    img {
      height: 140px;
      width: 140px;
      display: block;
      margin: 0 auto;
    }

    .normal {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
    }

    .carousel {
      width: 100%;
      display: none;
    }

    // button {
    //   background: rgba(0, 0, 0, 0) !important;
    //   color: rgba(0, 0, 0, 0) !important;

    //   // border-bottom: 2px solid #000;
    //   margin: 3px;
    //   border-radius: 0;
    // }

    // .VueCarousel-dot {
    //   border-bottom: 2px solid #ccc;
    // }

    // .VueCarousel-dot--active {
    //   border-bottom: 2px solid #000;
    // }
  }

  @media only screen and (max-width: $content_max_width) {
    $grid_width: 90%;

    // .project_info {
    //   max-width: $grid_width;
    // }

    .partners {
      max-width: $grid_width;
    }
  }

  @media only screen and (max-width: 900px) {
    $grid_width: 90%;

    .project_info {
      .group-item_col {
        margin: 0;
      }
    }

    .group-item_col {
      width: 100% !important;
    }

    .text {
      max-width: 100%;
    }

    .jumbotron {
      padding-bottom: 100px;
    }

    .jumbo_content {
      flex-direction: column;

      img {
        position: absolute;
        left: 0 !important;
        right: 0 !important;
        bottom: -100px !important;
        margin: 0 auto;
        width: 100%;
        max-width: 540px;
      }
    }

    .text_block {
      align-self: flex-start;
      margin-top: 90px !important;
      text-align: center !important;
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    .project_info {
      display: block;
      margin: 0 auto;

      .group {
        flex-direction: column;
      }

      .group:nth-child(3) {
        .group-item_col:nth-child(2) {
          order: -1;
        }
      }

      img {
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
      }
    }

    .showCarousel {
      display: block;
      margin: 0 auto;
    }

    .hideCarousel {
      display: none !important;
    }
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: $header1_mobile !important;
    }

    h2 {
      font-size: $header2_mobile !important;
    }

    .partners {
      height: 100% !important;

      .normal {
        display: none;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      .carousel {
        display: block;
      }
    }

  }


}
