@import "_vars.scss";

.zakelijk {
    background: white;
    position: relative;
    align-self: center;

    .top_intro {
        position: relative;
        background: $light_blue;
        height: 600px;
        width: 100%;
        
        .content {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .text {
                h2, h3 {
                    margin-bottom: 20px;
                }
                p {
                    color: $mid_blue;
                    font-weight: 500;
                    max-width: 586px;
                }
            }
            img {
                position: relative;
                bottom: -65px;
                max-width: 64%;
                left: 0;
                width: 600px;
                user-select: none;
                z-index: -1;
            }

            .button {
                width: 280px;
            }
        }


    }

    .why_co2ok {
        position: relative;
        height: 400px;
        width: 100%;

        .img_background {
            background: url('./../assets/wolken.jpg');
            background-position: 75% 59%;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 0;
          }
      
        .img-background-color {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 3;
            background: rgba(182, 225, 249, 0.8);
          }

        .why_co2ok_content {
            background: #faebd7;	//temporary
            height: 1200px;

            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content: space-evenly;


            border-style: solid rgba(0, 0, 0, 0.0);
            border-width: 1px;

            margin: 0 auto;
            top: -60px;
            left: 0;
            right: 0;
            z-index: 50;
            h2 {
                margin-left: 50px;
            }
            .content_block {
                height: 250px;
                border-bottom: solid rgba(92, 89, 89, 0.249);
                border-width: thin;
                align-items: center;
                
             
                img {
                    margin-left: 50px;
                    width: 123px;
                    height: 123px;
                }
                .content_text {
                    margin-left: 50px;
                    max-width: 900px;
                }
            }

        }
    }

}


@media only screen and (max-width: $content_max_width) {
    $grid_width: 90%;
    .content {
      width: $grid_width !important;
    }

}

@media only screen and (max-width: 900px) {
    .top_intro {
        .content {
            img {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .top_intro {
        .content {
            img {
                display: none;
            }
        }
    }
}
