@import "_vars.scss";

.zakelijk {
  background: $white;
  position: relative;
  align-self: center;

  .block {
    a {
      text-decoration: underline;
    }
  }

  .top_intro {
    position: relative;
    background: $light_blue;
    height: 600px;
    width: 100%;

    .content {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      align-items: center;

      .text {

        h2,
        h3 {
          margin-bottom: 20px;
        }

        p {
          color: $mid_blue;
          font-weight: 500;
          max-width: 586px;
        }
      }

      img {
        position: relative;
        bottom: -65px;
        max-width: 64%;
        left: 0;
        width: 600px;
        user-select: none;
        z-index: -1;
      }

      .button {
        width: 280px;
      }
    }


  }

  .bulletpoints {
    position: relative;
    height: 400px;
    background: $white;
    z-index: 1;

    // top: -75px;
    .content {
      padding-top: 75px;

      .img_gallery {
        display: flex;
        flex-direction: row;
        margin: 0 auto;

        .img_block {
          text-align: center;
          width: 18%;
          margin: 0 auto;

          img {
            padding-bottom: 30px;
            width: 100px;
          }

          .text {
            position: relative;
            bottom: -50px;
            word-wrap: break-word;

            h3 {
              font-size: 20px;
            }
          }
        }
      }

      .carousel {
        width: 100%;
      }
    }

    .line_container {
      position: absolute;
      width: 100%;
      height: 50px;
      // z-index: 1;
      // background: #000;
    }

    .line {
      // background: #000;
      background-image: url('./../assets/achtergronden_svg/witte-lijn.svg');
      background-repeat: no-repeat; // background-image: url('./../assets/achtergronden_svg/grijs-lijn-2.svg');
      background-size: cover;
      width: 100%;
      // object-fit: fill;
      height: 50px;
      width: 100%;
      max-width: 100%;
      position: absolute;
      z-index: 99;
      top: -45px;
    }
  }

  .why_co2ok {
    position: relative;
    height: 1050px;
    width: 100%;
    background: $grey;

    // .img_background {
    //   background: url('./../assets/wolk.png');
    //   position: absolute;
    //   height: 100%;
    //   width: 100%;
    //   z-index: 15;
    //   top: -120px;
    // }

    // .img-background-color {
    //   position: absolute;
    //   height: 75%;
    //   width: 100%;
    //   z-index: 5;
    //   background: rgba(182, 225, 249, 0.8);
    // }

    .why_co2ok_content {
      width: 70% !important;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: auto;
      margin-bottom: auto;
      left: 0;
      right: 0;
      border-style: solid rgba(0, 0, 0, 0.0);
      border-width: 1px;
      z-index: 50;

      .content_block {
        .content_in_block {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          padding-bottom: 20px;

          .content_text {
            width: 880px;
            max-width: 100%;
          }

          // img {
          //   width: 150px;
          //   height: 150px;
          //   margin-left: 50px;
          //   margin-right: 50px;
          //   align-self: center;
          // }
          .fas {
            margin-left: 50px;
            margin-right: 50px;
          }

        }

        .blue {
          color: $light_blue;
        }
      }

      h2 {
        text-align: center;
        padding-bottom: 50px;
      }

      // .VueCarousel-dot {
      //     border-bottom: 2px solid #ccc;
      // }

      // .VueCarousel-dot--active {
      //     border-bottom: 2px solid #000;
      // }

      .carousel {
        width: 100%;
      }

    }
  }

  .partners {
    position: relative;
    height: 600px;

    .content {
      padding-top: 50px;

      .text {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
      }

      .lijn {
        // margin-top: 15px;
        margin: 0 auto;
        height: 1px;
        width: 80%;
        background-color: black;
      }

      .img_gallery {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding-top: 100px;

        .img_block {
          text-align: center;
          width: 30%;
          margin: 0 auto;

          img {
            width: 75%;
          }
        }
      }
    }
  }

  .block_form {
    position: relative;
    height: 650px;
    width: 100%;
    text-align: center;
    background: $grey;
    padding-top: 50px;

    .content {
      .form {
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        margin-top: 30px;

        .plugin_install {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 500px;
          width: 400px;
          max-width: 90%;
          box-shadow: -5px 3px 40px 2px rgba(143, 137, 143, 0.74);
          background: $white;
          border-radius: 5px;
          align-items: center;

          .button {
            margin-top: 20px;
            width: 75%;
            background: $light_blue;
            color: white;
          }
        }

        .ecom_input {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 500px;
          width: 400px;
          max-width: 90%;
          box-shadow: -5px 3px 40px 2px rgba(143, 137, 143, 0.74);
          background: $white;
          border-radius: 5px;

          .button {
            height: 40px;
            width: 100px;
            margin-top: 10px;
          }

          .input_fields {
            width: 75%;
            margin: 0 auto;
            text-align: left;

            button {
              background: $light_blue;
              color: white;
            }
          }

          input {
            border-radius: 5px;
            border: none;
            border: solid 1px #ccc;
            box-shadow: 2px 2px 5px 0px rgba(191, 180, 191, 1);
            height: 30px;
            width: 100%;
          }
        }

      }
    }
  }

  @media only screen and (max-width: $content_max_width) {
    $grid_width: 90%;

    .content {
      width: $grid_width !important;
    }

  }

  @media only screen and (max-width: 900px) {

    .showCarousel {
      display: block;
      margin: 0 auto;
    }

    .top_intro {
      .content {
        justify-content: center !important;
        text-align: center;

        img {
          display: none;
        }
      }
    }

    .bulletpoints {
      height: 300px !important;

      .content {
        padding-top: 0px !important;

        .img_block {
          text-align: center;

          // margin-top: 50px;
          .text {
            padding-top: 20px;
            margin: 0 auto;
            width: 60%;
          }

          img {
            width: 125px;
          }
        }
      }
    }

    .why_co2ok {
      height: 600px !important;

      .why_co2ok_content {
        text-align: center;
        height: 600px !important;

        h2 {
          padding-bottom: 10px;
        }

        .content_block {
          img {
            padding: 10px;
            width: 100px;
            height: 100px;
          }

          p {
            max-width: 500px;
            margin: 0 auto;
          }
        }
      }
    }

    .partners {
      height: 550px !important;

      .content {
        .img_block {
          padding-top: 50px;
          text-align: center;
          width: 100%;
          margin: 0 auto;

          img {
            width: 50%;
          }
        }
      }
    }

    .block_form {
      height: 1000px !important;

      .content {
        .form {
          flex-direction: column;

          .plugin_install,
          .ecom_input {
            margin-top: 10px;
          }

          .plugin_install {
            height: 250px !important;
          }
        }
      }
    }

    .hideCarousel {
      display: none !important;
    }
  }

  @media only screen and (max-width: 600px) {
    .zakelijk {
      .top_intro {
        .content {
          text-align: center;

          img {
            display: none;
          }
        }
      }

      .why_co2ok_content {
        .content_block {
          p {
            margin: 0 auto;
            max-width: 250px;
          }
        }

        h2 {
          padding-bottom: 0px !important;
        }
      }

      .partners {
        height: 600px !important;

        .content {
          .img_block {
            img {
              width: 75%;
            }
          }
        }
      }

      .carousel {
        display: block;
      }
    }
  }
}
