@import "_vars.scss";

.zakelijk {
    background: white;
    position: relative;
    align-self: center;

    .top_intro {
        position: relative;
        background: $light_blue;
        height: 600px;
        width: 100%;
        
        .content {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .text {
                h2, h3 {
                    margin-bottom: 20px;
                }
                p {
                    color: $mid_blue;
                    font-weight: 500;
                    max-width: 586px;
                }
            }
            img {
                position: relative;
                bottom: -65px;
                max-width: 64%;
                left: 0;
                width: 600px;
                user-select: none;
                z-index: -1;
            }

            .button {
                width: 280px;
            }
        }


    }

    .why_co2ok {
        position: relative;
        height: 400px;
        width: 100%;

        .img_background {
            background: url('./../assets/wolken.jpg');
            background-position: 75% 59%;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 0;
          }
      
        .img-background-color {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 3;
            background: rgba(182, 225, 249, 0.8);
          }

        .why_co2ok_content {
            background: white;	//temporary
            height: 600px;

            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 0;
            right: 0;
            top: -60px;
            margin: 0 auto;
            border-style: solid rgba(0, 0, 0, 0.0);
            border-width: 1px;
            z-index: 50;

            .content_block {
                height: 250px;
                margin: 0 auto;

                .content_text {
                    margin-left: 30px;
                    max-width: 880px;
                    // display: flex;
                    // flex-direction: column;
                }
                .content_in_block {
                    display: flex;
                    margin-top: 30px;

                    img {
                        width: 123px;
                        height: 123px;
                        align-self: center;
                    }
                }
            }

            h2 {
                margin-left: 50px;
            }

            .VueCarousel-dot {
                border-bottom: 2px solid #ccc;
            }
          
            .VueCarousel-dot--active {
                border-bottom: 2px solid #000;
            }

            .carousel {
                width: 100%;
            }

        }
    }

}


@media only screen and (max-width: $content_max_width) {
    $grid_width: 90%;
    .content {
      width: $grid_width !important;
    }

}

@media only screen and (max-width: 900px) {
    .top_intro {
        .content {
            img {
                display: none;
            }
        }
    }
    .showCarousel {
        display: block;
        margin: 0 auto;
    }
  
    .why_co2ok {
        .why_co2ok_content {
            text-align: center !important;

            .content_block{
                height: 400px !important;
            }

            h2 {
                margin-left: 0px !important;
            }
        }
    }
    
    .hideCarousel {
        display: none !important;
    }
}

@media only screen and (max-width: 600px) {
.zakelijk {
    .top_intro {
        .content {
            img {
                display: none;
            }
        }
    }
    .carousel {
        display: block;
      }
    }
}
